@font-face {
  font-family: Nunito;
  src: url("../fonts/Nunito-VariableFont_wght.ttf"); }
@font-face {
  font-family: Amusette;
  src: url("../fonts/Amusette-Regular.ttf"); }
body {
  background-color: #1e1e1e;
  font-family: Nunito;
  margin: 0;
  padding: 0; }

h1 {
  margin: 20px; }

a {
  text-decoration: none; }

.page-container {
  min-height: 100vh;
  position: relative; }

header {
  background-color: #1e1e1e;
  height: fit-content;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 2; }
  header .menubutton {
    display: none; }
  header .logo {
    color: #fff;
    font: 2em Amusette;
    margin: 0 auto;
    padding: 5px 20px;
    width: fit-content; }

footer {
  background-color: #1e1e1e;
  border-top: 2px #f5f5f5 solid;
  bottom: 0;
  color: #b8b8b8;
  padding: 0.25vh 0;
  position: absolute;
  width: 100%; }
  footer .footer-info {
    font-weight: bolder;
    margin: 0;
    text-align: center;
    font-size: 2.8571428571vh;
    height: 5vh; }
  footer .socials {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0.75vh;
    width: 50vw; }
    footer .socials img {
      display: block;
      max-width: 4vh; }

.content-box {
  background-color: #fff;
  min-height: 73vh;
  padding-bottom: 11vh;
  padding-top: 142px;
  font-size: 1.1vmax; }

.moreproducts {
  background-color: #1e1e1e;
  padding: 20px;
  text-align: center; }
  .moreproducts a {
    text-decoration: none; }
  .moreproducts .more-products-button {
    background-color: #9c1700;
    color: #fff;
    margin: 0 auto;
    padding: 15px;
    width: fit-content;
    font-size: 2vh; }
  .moreproducts .more-products-button:hover {
    background-color: #cf1f00; }

.hmenu {
  background-color: #9c1700;
  border-top: 1px solid #000;
  height: 60px;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .hmenu li {
    background-color: #9c1700;
    border: solid #000;
    border-right-width: 1px;
    border-width: 0;
    float: left;
    max-width: 165px;
    text-align: center;
    width: 24%; }
    .hmenu li a {
      color: #fff;
      display: block;
      text-decoration: none;
      max-width: 165px;
      padding-top: 15px;
      font-size: 1.5em;
      height: 45px; }
  .hmenu li:hover {
    background-color: #ac5444; }

.brandName {
  display: inline-block; }

.product {
  background-color: white;
  border: #ac5444 solid 5px;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column; }
  .product .product-showcase {
    position: relative;
    padding: 10px;
    height: 22vh;
    width: 22vh;
    border-bottom: 1px lightgrey solid; }
  .product .product-showcase:hover .buy-button {
    visibility: visible; }
  .product .product-info {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 5vh;
    font-size: 2vh;
    width: 22vh;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .product .product-price {
    text-align: end;
    padding: 5px;
    height: 3vh;
    font-size: 1.5vh; }

.product-showcase img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 97%;
  max-height: 97%; }
.product-showcase .buy-button {
  display: flex;
  position: relative;
  visibility: hidden;
  background: radial-gradient(rgba(0, 0, 0, 0.9) 10%, transparent 70%, transparent);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-self: center;
  text-align: center; }
  .product-showcase .buy-button a {
    align-self: center;
    text-decoration: none;
    color: white; }
    .product-showcase .buy-button a div {
      width: fit-content;
      padding: 5px;
      border-radius: 5px;
      background-color: #9c1700; }
    .product-showcase .buy-button a div:hover {
      background-color: #cf1f00; }

.featured {
  display: flex;
  padding: 2%;
  height: fit-content;
  justify-content: space-around; }
  .featured .featured-info {
    font-size: 1.2em;
    color: white;
    width: 70%; }
    .featured .featured-info h2 {
      margin-left: 10px; }

.shure {
  background: linear-gradient(90deg, #721606, 50%, #1e1e1e 80%); }

.sennheiser {
  background-color: lightgrey; }
  .sennheiser .featured-info {
    color: black; }

.sony {
  background: linear-gradient(90deg, #0e4b74, 70%, #354047 90%); }

.button {
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  background-color: #9c1700;
  color: white;
  margin: 0;
  text-align: center; }

.button:hover {
  background-color: #cf1f00; }

.showcase {
  border: 10px #1e1e1e solid;
  border-radius: 20px;
  margin: 50px auto;
  margin-top: 20px;
  width: 80%;
  padding: 15px;
  background-color: #dddddd;
  font-size: 1.5vh;
  max-width: fit-content;
  width: 80vw; }
  .showcase .product {
    margin: 5px 15px; }
  .showcase h2 {
    margin: 5px; }
  .showcase .showmore {
    margin: 10px 0 0 auto;
    width: fit-content; }
  .showcase .more-button:hover {
    background-color: #cf1f00; }
  .showcase .showcase-items {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto; }

#order-form {
  padding-left: 30px; }
  #order-form button {
    color: white;
    background-color: #9c1700; }

.avaliable-products {
  font-size: 2em;
  width: fit-content;
  margin: 5px auto;
  font-weight: bold; }
  .avaliable-products hr {
    width: 200%;
    margin-left: -50%; }

.contact-info {
  display: flex;
  justify-content: space-around; }
  .contact-info h2 {
    text-align: center; }
  .contact-info ul {
    list-style: none; }

.payment-info h2 {
  text-align: center; }

.delivery-info {
  padding: 10px 0; }
  .delivery-info h2 {
    text-align: center; }
  .delivery-info h3 {
    margin: 10px; }

.info-box {
  display: flex;
  justify-content: space-around;
  padding: 1vh 1vw; }

.order {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px; }
  .order .order-form-element {
    border: 0.1vmax lightgrey solid;
    padding: 0.2vh;
    margin-bottom: 0.4vh; }
  .order #order-form input[type="text"] {
    margin-left: 3%;
    width: 92%; }

.company-info {
  margin: 10px;
  font-size: 1.2em; }

.order-complete {
  display: flex;
  flex-direction: column;
  align-items: center; }

.order-complete-info {
  font-size: 2em;
  padding: 10px; }

.back-button {
  width: fit-content;
  font-size: 1.5em; }

.products-category {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 40px;
  justify-content: center; }
  .products-category .product {
    margin: 10px; }

@media (orientation: portrait) {
  .content-box {
    padding-top: 8vh; }

  .product .buy-button {
    font-size: 2vh; }

  header {
    position: fixed;
    background-color: #1e1e1e;
    height: 8vh; }
    header .logo {
      text-align: center;
      height: 4vh;
      background-color: #1e1e1e;
      width: fit-content;
      padding: 2vh 0;
      font-size: 4vh; }
      header .logo img {
        max-height: 4vh; }
    header .menubutton {
      position: absolute;
      display: block;
      height: 90%;
      padding: 1vh 1vw; }

  header .menubutton:hover ~ .hmenu {
    margin-left: 0%;
    transition: 0.5s ease all; }

  .hmenu {
    position: fixed;
    width: 60%;
    margin-left: -60%;
    height: 100%;
    z-index: 3;
    background-color: rgba(63, 12, 3, 0.8); }
    .hmenu li {
      float: none;
      border-right-width: 0;
      border-bottom-width: 1px;
      width: 100%;
      max-width: 100%; }
      .hmenu li a {
        padding-top: 5vh;
        padding-bottom: 5vh;
        font-size: 3vh;
        max-width: 100%; }

  .hmenu:hover {
    margin-left: 0%; }

  .featured {
    font-size: 1.5vh;
    flex-direction: column;
    align-items: center; }
    .featured .featured-info {
      margin-bottom: 10px; }
      .featured .featured-info h2 {
        margin-bottom: 5px;
        text-align: center; }

  .shure {
    background: linear-gradient(180deg, #721606, #1e1e1e); }

  .sennheiser {
    flex-direction: column-reverse; }

  .sony {
    background: linear-gradient(180deg, #0e4b74, 70%, #354047 90%); }

  .showcase .showmore {
    font-size: 1.5em;
    padding: 10px;
    margin: 0 auto; }

  .contact-info {
    text-align: center;
    flex-direction: column;
    margin-bottom: 10px; }

  .info-box {
    flex-direction: column;
    align-items: center; }
    .info-box > div {
      border-top: 3px solid #000;
      margin-bottom: 20px; }

  .order {
    flex-direction: column;
    align-items: center; }
    .order .order-form-element {
      margin-bottom: 1vh;
      font-size: 2vh; }
      .order .order-form-element input {
        font-size: 1.5vh;
        margin: 1vh 0; }
      .order .order-form-element input[type='radio'] {
        width: 1.5vh;
        height: 1.5vh; }
    .order .button {
      margin: 0 auto;
      width: 95%;
      font-size: 2vh; } }

/*# sourceMappingURL=styles.css.map */
